//:host {
//  margin: 2px;
//  border: 1px solid black;
//  border-radius: 5px;
//  display: block; // Con esto el ancho y el alto son dinamicos respecto al elemento
//}
.crop-image {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
    }
}